<html>
    <body>
        <form class="uploadForm" method="post" action="/postFile" enctype="multipart/form-data">
            <label>Enter the name of the actor</label><br>
            <input type="text" name="actor"><br>
            <label class="control-label">Upload the image of the actor</label><br>
            <input name="uplactor" type="file" class="file"><br>
            <label>Enter the name of the actress</label><br>
            <input type="text" name="actress"><br>
            <label class="control-label">Upload the image of the actress</label><br>
            <input name="uplactress" type="file" class="file"><br>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>