<%- include('../common/sidebar_common.html') %>
<div class="layout-page">
  <%- include('../common/header_new.html') %>

  <div class="content-wrapper">
    
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">
        <% if(message != ''){ %>
          <div class="alert alert-success" role="alert">
              <%= message %>
          </div>
          <% } %>
      </h4>
     <!-- Start 1 section for items  -->
     <div class="row">
      <div class="col-md-12">
        <div class="card mb-4" >
          <ul class="nav nav-pills flex-column-reverse flex-md-row-reverse mb-3" style="float:right">
            <li class="nav-item"><a class="nav-link form-toggle active" id="contentbtn" href="javascript:void(0);">Add Category</a></li>
            <li class="nav-item"><a class="nav-link form-toggle active" id="contenteditbtn" href="javascript:void(0);"  style="display:none">View</a></li>
          </ul>
        <div id="contentmainForm">
          <h5 class="card-header">Categories</h5>
          <hr class="my-0">
          <div class="card-body">
            <table id="dataviewtable" class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <% for(var item of allcategory) { %>
                
                  <tr>
                    <td> 
                    <%= item.categoryname %>
                    </td>
                    <td> 
                    <a href="/categorymainremove/<%= item.index %>/<%= item._id %>" onclick="return confirm('Are you sure you want to delete this item')">X</a>
                    </td>
                    </tr>
  
                <% } %>
               
              </tbody>
            </table>
          </div>
        </div>
       
        <div id="editForm"  style="display:none">
          <h5 class="card-header">Add</h5>
          <hr class="my-0">
          <div class="card-body">
            <form method="POST" action="/addmaincategory">
              <div class="row">
                <div class="mb-3 col-md-10">
                  <label class="form-label">Category Name :</label>
                  <input type="text" name="categoryname" class="form-control"   required> 
                </div>
          
                <div class="mb-3 col-md-10">
                    <label class="form-label">Display Name :</label>
                    <input type="text" name="displayname" class="form-control"   required> 
                  </div>
                <div class="mb-3 col-md-10">
                  <label class="form-label">Description :</label>
                  <textarea id="editor1" name="description" class="form-control"  required></textarea> 
                </div>
                </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Add</button>
              </div>
            </form>
          </div>
        
        </div>
        </div>
      </div>
    </div>
    <!-- end 1 section for items  -->


    </div>

		<%- include('../common/footer.html') %>
    <div class="content-backdrop fade"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>

  $('#dataviewtable').dataTable( {
      pageLength: 5,
      lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
    });


  $('#contentlistform').show();
  $('#contentitembtn').show();
  $("#contentlistadd").hide();
  $('#contentitemeditbtn').hide();
  $("#contentlistedit").hide();

  $('#contentitembtn').click(function(){
    $('#contentitemeditbtn').show();
    $('#contentlistform').hide();
    $('#contentitembtn').hide();
    $('#contentlistadd').show();
    $('#contentlistedit').hide();
  });

  $('#contentitemeditbtn').click(function(){
    $('#contentitemeditbtn').hide();
    $('#contentlistform').show();
    $('#contentitembtn').show();
    $('#contentlistadd').hide();
    $('#contentlistedit').hide();
  });

  function geteditform(editid){
  // alert(editid);
    $.ajax({
    url:"/getparticulerdatabyid/"+editid,
    method:"GET",
    success: function(response){
      // alert(response.heading);

      $('#contentlistedit').show();
      $('#contentlistadd').hide();
      $('#contentlistform').hide();
        $('#editid').val(editid);
        $('#item').val(response.type);
        $('#heading').val(response.heading);
        $('#designation').val(response.designation);
        $('#description').html(response.description);
        $('#duration').val(response.duration);
        $('#preimage').val(response.image);
        if(response.image != ''){
        $('#edititemimage').attr('src', 'uploads/'+response.image).width(100).height(100); 
        }else{
        $('#edititemimage').attr('src', '/images/user.png').width(100).height(100); 
        }
      
      }
    });
    return false;
 }



  CKEDITOR.replace('editor-content');
   
  function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    //  alert("ftype");
    reader.onload = function (e) {
      
      $('#clientimageupdate').attr('src', e.target.result).width(100).height(100);
      $('#itemimage').attr('src', e.target.result).width(100).height(100);
      $('#edititemimage').attr('src', e.target.result).width(100).height(100);
    };
    reader.readAsDataURL(input.files[0]);
  }
}

</script>