	<!-- Menu -->
  <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme">
    <div class="app-brand demo ">
      <a href="/index"> <span class="app-brand-logo demo">
        <img src="./assets/img/header-logo.svg"></span>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none"> <i class="bx bx-chevron-left bx-sm align-middle"></i> </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1 ps ps--active-y">
      <!-- Dashboard -->
      <li class="menu-item  ">
        <a href="/index" class="menu-link"> <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-item">
        <a href="/home" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-home"></i>
          <div data-i18n="Layouts">Home</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item ">
            <a href="/header" class="menu-link">
              <div data-i18n="Without menu">Header</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- ourpartners contentone -->
            <a href="/ourpartners" class="menu-link">
              <div data-i18n="Without menu">Our Partners</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- Achievements contenttwo -->
            <a href="/achievement" class="menu-link">
              <div data-i18n="Without menu">Achievement</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- Job Guarantee  contentthired-->
            <a href="/job" class="menu-link">
              <div data-i18n="Without menu">Job Guarantee</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- educators contentfour -->
            <a href="/educator" class="menu-link">
              <div data-i18n="Without menu">Mental</div>
            </a>
          </li>

          <li class="menu-item ">
            <!-- meta metatag -->
            <a href="/homemeta" class="menu-link">
              <div data-i18n="Without menu">Meta Tag</div>
            </a>
          </li>
        
        </ul>
      </li>
      
      <li class="menu-item">
        <a href="/home" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-book"></i>
          <div data-i18n="Layouts">Course</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item ">
            <a href="/course" class="menu-link">
              <div data-i18n="Without menu">All Course</div>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/faq" class="menu-link">
              <div data-i18n="Basic">Faq</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- meta metatag -->
            <a href="/coursemeta" class="menu-link">
              <div data-i18n="Without menu">Meta Tag</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item" >
        <a href="javascript:void(0);" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Authentications">Category</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item ">
            <a href="/category" class="menu-link">
              <div data-i18n="Basic">All Category</div>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/maincategory" class="menu-link">
              <div data-i18n="Basic">Add Category</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- meta metatag -->
            <a href="/categorymeta" class="menu-link">
              <div data-i18n="Without menu">Meta Tag</div>
            </a>
          </li>
        </ul>
      </li>
      
      
      <li class="menu-item" >
        <a href="javascript:void(0);" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Authentications">Blog</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item ">
            <a href="/blog" class="menu-link">
              <div data-i18n="Basic">All Blog</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- meta metatag -->
            <a href="/blogmeta" class="menu-link">
              <div data-i18n="Without menu">Meta Tag</div>
            </a>
          </li>
        </ul>
      </li>
      
      <li class="menu-item" >
        <a href="javascript:void(0);" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Authentications">Testimonial</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item ">
            <a href="/testimonial" class="menu-link">
              <div data-i18n="Basic">All Testimonial</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- meta metatag -->
            <a href="/testimonialmeta" class="menu-link">
              <div data-i18n="Without menu">Meta Tag</div>
            </a>
          </li>
        </ul>
      </li>

            
      <li class="menu-item" >
        <a href="javascript:void(0);" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-phone"></i>
          <div data-i18n="Authentications">Contact</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/contact" class="menu-link">
              <div data-i18n="Basic">Contact Page</div>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/contactperson" class="menu-link">
              <div data-i18n="Basic">Contact Person</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- meta metatag -->
            <a href="/contactmeta" class="menu-link">
              <div data-i18n="Without menu">Meta Tag</div>
            </a>
          </li>
        </ul>
      </li>
       
      <li class="menu-item" >
        <a href="javascript:void(0);" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Authentications">About-us</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item ">
            <a href="/about-us" class="menu-link">
              <div data-i18n="Basic">About-us-first</div>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/about-section-second" class="menu-link">
              <div data-i18n="Basic">About Section second</div>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/about-section-third" class="menu-link">
              <div data-i18n="Basic">About Section Third</div>
            </a>
          </li>
          <li class="menu-item ">
            <!-- meta metatag -->
            <a href="/aboutmeta" class="menu-link">
              <div data-i18n="Without menu">Meta Tag</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-header small text-uppercase"> <span class="menu-header-text">Pages</span> </li>
    
      <li class="menu-item ">
        <a href="javascript:void(0);" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-box"></i>
          <div data-i18n="Authentications">Users</div>
        </a>
        <ul class="menu-sub">
        
          <li class="menu-item">
            <a href="/users" class="menu-link">
              <div data-i18n="Basic">All Users</div>
            </a>
          </li>
          <!-- <li class="menu-item">
            <a href="/user" class="menu-link">
              <div data-i18n="Basic">Add User</div>
            </a>
          </li> -->
    
        </ul>
      </li>

     
      <li class="menu-item" >
        <a href="javascript:void(0);" class="menu-link menu-toggle"> <i class="menu-icon tf-icons bx bx-cube-alt"></i>
          <div data-i18n="Authentications">Setting</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item ">
            <a href="/setting" class="menu-link">
              <div data-i18n="Basic">General</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/social" class="menu-link">
              <div data-i18n="Basic">Social</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/menu" class="menu-link">
              <div data-i18n="Basic">Menu</div>
            </a>
          </li>
          <!-- <li class="menu-item">
            <a href="/footerwidget" class="menu-link">
              <div data-i18n="Basic">Footer Widget</div>
            </a>
          </li> -->
        </ul>
      </li>
   
      <div class="ps__rail-x" >
        <div class="ps__thumb-x" tabindex="0" ></div>
      </div>
      <div class="ps__rail-y" >
        <div class="ps__thumb-y" tabindex="0"></div>
      </div>
    </ul>
  </aside>