<%- include('../common/sidebar_common.html') %>
<div class="layout-page">
  <%- include('../common/header_new.html') %>

  <div class="content-wrapper">
    
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">
        <% if(message != ''){ %>
          <div class="alert alert-success" role="alert">
              <%= message %>
          </div>
          <% } %>
      </h4>
     <!-- Start 1 section for items  -->
     <div class="row">
      <div class="col-md-12">
        <div class="card mb-4" >
          <ul class="nav nav-pills flex-column-reverse flex-md-row-reverse mb-3" style="float:right">
            <li class="nav-item"><a class="nav-link form-toggle active" id="contentbtn" href="javascript:void(0);">Edit</a></li>
            <li class="nav-item"><a class="nav-link form-toggle active" id="contenteditbtn" href="javascript:void(0);"  style="display:none">View</a></li>
          </ul>
        <div id="contentmainForm">
          <h5 class="card-header"></h5>
          <hr class="my-0">
          <div class="card-body">
            <h3><% if(pagedata) { %><%= pagedata.title %><% } %></h3>
            <br>
            <p><% if(pagedata) { %><%= pagedata.description.replace(/<[^>]*>?/gm, '') %><% } %> </p>
            <br>
            <h5><% if(pagedata) { %><%= pagedata.keyword %><% } %></h5>
          </div>
        </div>
       
        <div id="editForm"  style="display:none">
          <h5 class="card-header">Edit</h5>
          <hr class="my-0">
          <div class="card-body">
            <form method="POST" action="/aboutmetatagupdate">
              <div class="row">
                <div class="mb-3 col-md-10">
                  <label class="form-label">Title :</label>
                  <input type="text" name="title" class="form-control" <% if (pagedata) { %>value="<%= pagedata.title %>" <% } %>  required> </div>
                <div class="mb-3 col-md-10">
                  <label class="form-label">Description :</label>
                  <textarea id="editor1" name="description" class="form-control"  required><% if (pagedata) { %><%= pagedata.description %> <% } %></textarea> 
                </div>
                <div class="mb-3 col-md-10">
                  <labe class="form-label">Keyword :</label>
                  <input type="text" name="keyword" class="form-control" <% if (pagedata) { %>value="<%= pagedata.keyword %>" <% } %> required> </div>
                </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Update</button>
              </div>
            </form>
          </div>
        
        </div>
        </div>
      </div>
    </div>
    <!-- end 1 section for items  -->

  

    </div>

		<%- include('../common/footer.html') %>
    <div class="content-backdrop fade"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  

    $('#dataviewtable').dataTable( {
      pageLength: 5,
      lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
    });


  $('#contentlistform').show();
  $('#contentitembtn').show();
  $("#contentlistadd").hide();
  $('#contentitemeditbtn').hide();
  $('#contentlistedit').hide();

  $('#contentitembtn').click(function(){
    $('#contentitemeditbtn').show();
    $('#contentlistform').hide();
    $('#contentitembtn').hide();
    $('#contentlistadd').show();
    $('#contentlistedit').hide();
  });

  $('#contentitemeditbtn').click(function(){
    $('#contentitemeditbtn').hide();
    $('#contentlistform').show();
    $('#contentitembtn').show();
    $('#contentlistadd').hide();
    $('#contentlistedit').hide();
  });


</script>